footer {
  width: 100%;
  height: 10%;
  background-color: rgb(10, 84, 20);
  justify-content: center;
  position: fixed;
  top: 90%;
  left: 0;
  align-items: center;
  box-sizing: border-box;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-color: rgb(24, 183, 45);
  border-width: 5px;
}

.textAnonimato {
  width: 100%;
}

.textAnonimato h1 {
  font-family: "Poppins", sans-serif;
  font-size: 85%;
  letter-spacing: 7px;
  color: #ffffff9f;
}

.logosRedes {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 5%;
}

.icon {
  color: rgba(142, 174, 141, 0.83);
  margin: 0 10px;
  width: 50%;
}

@media screen and (max-width: 1460px) {
  .textAnonimato h1 {
    font-size: 90%;
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 1200px) {
  .textAnonimato h1 {
    font-size: 80%;
    letter-spacing: 3px;
  }

  .logosRedes {
    top: 0%;
  }
}
@media screen and (max-width: 893px) {
  .textAnonimato h1 {
    font-size: 60%;
    letter-spacing: 0px;
  }

  .icon {
    width: 60%;
    margin: 0 4px;
  }
}

@media screen and (max-height: 748px) {
  footer {
    min-height: 100%;
    top: 88%;
  }
}

@media screen and (max-height: 648px) {
  footer {
    min-height: 100%;
    top: 87%;
  }
}

@media screen and (max-height: 548px) {
  footer {
    min-height: 100%;
    top: 85%;
  }
}

@media screen and (max-height: 448px) {
  footer {
    min-height: 100%;
    top: 81%;
  }
}

@media screen and (max-height: 348px) {
  footer {
    min-height: 100%;
    top: 78%;
  }
}
